@model VinylApplication326.Models.UserModel

<div>
    <h1 class="text-success">Login Success</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Username
        </dt>
        <dd class="col-sm-10 text-success">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            Password
        </dt>
        <dd class="col-sm-10 text-success">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="Records" class="text-success">View Records</a>
</div>

