@model VinylApplication326.Models.UserModel

<div>
    <h1 class="text-danger">Login Failure</h1>
    <hr />
</div>
<div>
    <a asp-controller="Login" asp-action="Index" class="text-danger">Try Again?</a>
</div>

