@model VinylApplication326.Models.UserModel

<div>
    <h1 class="text-success">Login Success</h1>
    <hr />
    
</div>
<div>
    <a asp-action="Index" asp-controller="Browse" class="text-success">View Records</a>
</div>

