@model VinylApplication326.Models.UserModel

<div>
    <h1 class="text-danger">Login Failure</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Username
        </dt>
        <dd class="col-sm-10 text-danger">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            Password
        </dt>
        <dd class="col-sm-10 text-danger">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Login" asp-action="Index" class="text-danger">Try Again?</a>
</div>

